modules = ["php-8.2", "web", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
APP_NAME = "ARS Factory"
APP_ENV = "local"
APP_DEBUG = "true"
APP_LOCALE = "fr"
APP_FALLBACK_LOCALE = "fr"
APP_FAKER_LOCALE = "en_US"
APP_MAINTENANCE_DRIVER = "file"
BCRYPT_ROUNDS = "12"
LOG_CHANNEL = "stack"
LOG_STACK = "single"
LOG_DEPRECATIONS_CHANNEL = "null"
LOG_LEVEL = "debug"
DB_CONNECTION = "sqlite"
DB_DATABASE = "/home/runner/workspace/database/database.sqlite"
SESSION_DRIVER = "file"
SESSION_LIFETIME = "120"
SESSION_ENCRYPT = "false"
SESSION_PATH = "/"
SESSION_DOMAIN = "null"
BROADCAST_CONNECTION = "log"
FILESYSTEM_DISK = "local"
QUEUE_CONNECTION = "database"
CACHE_STORE = "file"
MAIL_MAILER = "log"
MAIL_SCHEME = "null"
MAIL_HOST = "127.0.0.1"
MAIL_PORT = "2525"
MAIL_FROM_ADDRESS = "hello@arsfactory.com"
MAIL_FROM_NAME = "ARS Factory"
ADMIN_NAME = "ARS Factory Admin"
ADMIN_EMAIL = "admin@arsfactory.com"
APP_KEY = "base64:bnVb60aio4v1j7M4A7ztiQH+d0XjHbt4nzFhhCiImDI="
